/* Estructura general */
header,
section,
footer {
width: 100%;
}

.reseña {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #003049;
  background: linear-gradient(to right, #e6f0fa, #ffffff);
  border-left: 5px solid var(--azul-mar);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  opacity: 0;
  transform: translateY(30px);
  animation: aparecer 1.8s ease-out forwards;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/* Contenedor central */
.contenedor {
max-width: 1900px;
margin: 0 auto;
padding: 0 2rem;
box-sizing: border-box;
}

/* Cabecera */
header {
background-image: url('../images/teide.png');
background-size: cover;
background-position: center;
color: white;
text-align: center;
padding: 15rem 2rem;
}

/* Secciones */
section {
padding: 4rem 0;
}

/* Footer */
footer {
background-color: var(--gris-suave);
text-align: center;
padding: 2rem 0;
font-size: 0.9rem;
color: #555;
}
